* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background: rgb(46, 58, 70);
  min-height: 100vh;
}

header {
  width: 100%;
  height: 70px;
  /* background: rgb(46, 58, 70); */
  background: #1e2d3b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  /* width: 1070px; */
  width: 1368px;
  height: 100%;
  margin: 0 auto;
}

.mov-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.card-container {
  position: relative;
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* width: 200px;
  height: 300px; */
  width: 342px;
  height: 513px;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.mov {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* flex-basis: 200px; */
  width: 100%;
  padding: 20px;
  /* margin: 10px 20px; */
  /* margin: 10px 5px; */
  /* height: 300px; */
  height: 100%;
  background: #1e2d3b;
  text-align: center;
  color: white;
}
.card-container:hover .card {
  display: block;
}
.card-container .poster {
  position: relative;
  height: 100%;

}
.poster .poster-img {
  position: absolute;
  width: 100%;
  max-width: 342px;
  max-height: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  /* height: auto; 
  vertical-align: middle; */
}
.card-container:hover .poster {
  display: none;
}
.mov li {
  list-style-type: none;
}
.mov-val {
  font-weight: bold;
  text-decoration: underline;
}
.mov-vote .yellow {
  color: yellow;
}
.mov-vote .black {
  color: #000;
}
/* .mov-lang {
  font-size: 0;
} */
/* .show-text {
  font-size: 16px;
} */